.table{
    display: flex;
    margin: 10px 0;
    padding: 10px;
    list-style-type: none;
    justify-content: space-around;
}
.table li {
    border-bottom: 1px solid ;
    cursor: pointer;
    padding: 0 20px ;
}